@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  display: flex;
}

[x-cloak] {
  display: none !important;
}

.grid-line {
  background-image: linear-gradient(to right, #cbd5e1 1px, #0000 1px), linear-gradient(#cbd5e1 1px, #0000 1px);
  background-position: center;
  background-size: 20px 20px;
}

.grid-point {
  background-image: radial-gradient(circle, #cbd5e1 2px, #ffffff4d 2px);
  background-position: center;
  background-size: 20px 20px;
}

.grid-mosaic {
  background-image: linear-gradient(45deg, #8d8b8b 25%, #0000 0), linear-gradient(-45deg, #8d8b8b 25%, #0000 0), linear-gradient(45deg, #0000 75%, #8d8b8b 0), linear-gradient(-45deg, #0000 75%, #8d8b8b 0);
  background-position: 0 0, 0 10px, 10px -10px, -10px 0;
  background-size: 20px 20px;
}

.aqua {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  --primary: #09ecf3;
  --primary-content: #005355;
  --secondary: #966fb3;
  --accent: #ffe999;
  --neutral: #3b8ac4;
  --base-100: #345da7;
  --info: #2563eb;
  --success: #16a34a;
  --warning: #d97706;
  --error: #ff7568;
}

.black {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  --primary: #373737;
  --secondary: #373737;
  --accent: #373737;
  --base-100: #000;
  --base-200: #141414;
  --base-300: #262626;
  --base-content: #d6d6d6;
  --neutral: #373737;
  --info: #00f;
  --success: green;
  --warning: #ff0;
  --error: red;
}

.bumblebee {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #ffda00;
  --primary-content: #4c4528;
  --secondary: orange;
  --secondary-content: #5d3f18;
  --accent: #ffa656;
  --neutral: #060023;
  --base-100: #fff;
}

@supports (color: lab(0% 0 0)) {
  .bumblebee {
    --base-100: lab(100% 0 0);
  }
}

.cmyk {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #45aeee;
  --secondary: #e8488a;
  --accent: #fff232;
  --neutral: #1a1a1a;
  --base-100: #fff;
  --info: #4aa8c0;
  --success: #823290;
  --warning: #ee8133;
  --error: #e93f33;
}

.corporate {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #4d6eff;
  --secondary: #7b92b2;
  --accent: #67cba0;
  --neutral: #181a2a;
  --neutral-content: #edf2f7;
  --base-100: #fff;
  --base-content: #181a2a;
}

.cupcake {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #65c3c8;
  --secondary: #ef9fbc;
  --accent: #eeaf3a;
  --neutral: #291334;
  --base-100: #faf7f5;
  --base-200: #efeae6;
  --base-300: #e7e2df;
  --base-content: #291334;
  --rounded-btn: 1.9rem;
  --tab-border: 2px;
  --tab-radius: .7rem;
}

.cyberpunk {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --primary: #ff6f98;
  --secondary: #01e5f9;
  --accent: #ce74ff;
  --neutral: #111a3b;
  --neutral-content: #fff248;
  --base-100: #fff248;
  --base-content: #282425;
}

.retro {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #ef9995;
  --primary-content: #282425;
  --secondary: #a4cbb4;
  --secondary-content: #282425;
  --accent: #dc8850;
  --accent-content: #282425;
  --neutral: #2e282a;
  --neutral-content: #ede6d4;
  --base-100: #ece3ca;
  --base-200: #e4d8b4;
  --base-300: #dbca9a;
  --base-content: #282425;
  --info: #2563eb;
  --success: #16a34a;
  --warning: #d97706;
  --error: #f35248;
}

.dark {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  --primary: #7480ff;
  --secondary: #ff62d4;
  --accent: #00cab6;
  --neutral: #2a323c;
  --neutral-content: #a6adbb;
  --base-100: #1d232a;
  --base-200: #191e24;
  --base-300: #15191e;
  --base-content: #a6adbb;
}

.dracula {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  --primary: #ff79c6;
  --secondary: #bd93f9;
  --accent: #ffb86c;
  --neutral: #414558;
  --base-100: #282a36;
  --base-content: #f8f8f2;
  --info: #8be9fd;
  --success: #50fa7b;
  --warning: #f1fa8c;
  --error: #f55;
}

.emerald {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #66cc8a;
  --primary-content: #223d30;
  --secondary: #377cfb;
  --secondary-content: #fff;
  --accent: #f68067;
  --accent-content: #000;
  --neutral: #333c4d;
  --neutral-content: #f9fafb;
  --base-100: #fff;
  --base-content: #333c4d;
  --animation-btn: 0;
  --animation-input: 0;
  --btn-focus-scale: 1;
}

.fantasy {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #6d0076;
  --secondary: #0075bf;
  --accent: #ff8900;
  --neutral: #1f2937;
  --base-100: #fff;
  --base-content: #1f2937;
}

.forest {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  --primary: #1eb854;
  --primary-content: #000;
  --secondary: #1db88e;
  --accent: #1db8ab;
  --neutral: #19362d;
  --base-100: #171212;
}

.garden {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #fb0075;
  --primary-content: #fff;
  --secondary: #8e4162;
  --accent: #5c7f67;
  --neutral: #291e00;
  --neutral-content: #e9e7e7;
  --base-100: #e9e7e7;
  --base-content: #100f0f;
}

.halloween {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  --primary: #ff9300;
  --primary-content: #131616;
  --secondary: #7a00c2;
  --accent: #44a900;
  --neutral: #2f1b05;
  --base-100: #212121;
  --base-content: #ff7557;
  --info: #2563eb;
  --success: #16a34a;
  --warning: #d97706;
  --error: #f35248;
}

.light {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #4a00ff;
  --secondary: #ff1ecc;
  --secondary-content: #fff8fd;
  --accent: #00d3be;
  --neutral: #2b3440;
  --neutral-content: #d7dde4;
  --base-100: #fff;
  --base-200: #f2f2f2;
  --base-300: #e5e6e6;
  --base-content: #1f2937;
}

.lofi {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #0d0d0d;
  --primary-content: #fff;
  --secondary: #1a1919;
  --secondary-content: #fff;
  --accent: #262626;
  --accent-content: #fff;
  --neutral: #000;
  --neutral-content: #fff;
  --base-100: #fff;
  --base-200: #f2f2f2;
  --base-300: #e6e5e5;
  --base-content: #000;
  --info: #5fcfdd;
  --success: #69fec3;
  --warning: #ffce69;
  --error: #ff9282;
}

@supports (color: lab(0% 0 0)) {
  .lofi {
    --accent-content: lab(100% 0 0);
  }
}

.luxury {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  --primary: #fff;
  --secondary: #152747;
  --accent: #513448;
  --neutral: #331800;
  --neutral-content: #ffe7a3;
  --base-100: #09090b;
  --base-200: #171618;
  --base-300: #2e2d2f;
  --base-content: #dca54c;
  --info: #66c6ff;
  --success: #87d039;
  --warning: #e2d562;
  --error: #ff6f6f;
}

.pastel {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #d1c1d7;
  --secondary: #f6cbd1;
  --accent: #b4e9d6;
  --neutral: #70acc7;
  --base-100: #fff;
  --base-200: #f9fafb;
  --base-300: #d1d5db;
}

.synthwave {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  --primary: #e779c1;
  --secondary: #58c7f3;
  --accent: #ffd200;
  --neutral: #221551;
  --neutral-content: #f9f7fd;
  --base-100: #1a103d;
  --base-content: #f9f7fd;
  --info: #53c0f3;
  --info-content: #201047;
  --success: #71ead2;
  --success-content: #201047;
  --warning: #eace6c;
  --warning-content: #201047;
  --error: #ec8c78;
  --error-content: #201047;
}

.valentine {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #e96d7b;
  --secondary: #a991f7;
  --accent: #66b1b3;
  --neutral: #af4670;
  --neutral-content: #f0d6e8;
  --base-100: #fae7f4;
  --base-content: #632c3b;
  --info: #2563eb;
  --success: #16a34a;
  --warning: #d97706;
  --error: #ff6f62;
  --rounded-btn: 1.9rem;
  --tab-radius: .7rem;
}

.wireframe {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --font-family: Chalkboard, "comic sans ms", sans-serif;
  --primary: #b8b8b8;
  --secondary: #b8b8b8;
  --accent: #b8b8b8;
  --neutral: #ebebeb;
  --base-100: #fff;
  --base-200: #eee;
  --base-300: #ddd;
  --info: #00f;
  --success: green;
  --warning: #a6a659;
  --error: red;
}

.autumn {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #8c0327;
  --secondary: #d85251;
  --accent: #d59b6a;
  --neutral: #826a5c;
  --base-100: #f1f1f1;
  --info: #42adbb;
  --success: #499380;
  --warning: #e97f14;
  --error: #cf001e;
}

@supports (color: lab(0% 0 0)) {
  .autumn {
    --error: lab(43.0311% 76.9557 53.0846);
  }
}

.business {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  --primary: #1c4e80;
  --secondary: #7c909a;
  --accent: #ea6947;
  --neutral: #23282e;
  --base-100: #202020;
  --info: #0091d5;
  --success: #6bb187;
  --warning: #dbae59;
  --error: #ac3e31;
}

.acid {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #ff24fb;
  --secondary: #ff7a0d;
  --accent: #cbfe00;
  --neutral: #140151;
  --base-100: #fafafa;
  --info: #0082f4;
  --success: #00f69e;
  --warning: #ffe300;
  --error: #ff1d12;
}

@supports (color: lab(0% 0 0)) {
  .acid {
    --primary: lab(61.6427% 104.584 -62.342);
    --secondary: lab(67.5395% 59.7683 99.8945);
    --accent: lab(93.8022% -39.894 114.349);
    --neutral: lab(6.09747% 29.3225 -44.9201);
    --info: lab(52.6019% 6.68359 -76.4472);
    --success: lab(86.8718% -90.1122 38.3471);
    --warning: lab(90.4358% -2.37459 107.692);
    --error: lab(56.2732% 92.2163 95.7613);
  }
}

.lemonade {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #4b9200;
  --secondary: #bcc000;
  --accent: #ebd100;
  --neutral: #343300;
  --base-100: #f8fdef;
  --info: #b1d9e9;
  --success: #b9dbc6;
  --warning: #d7d3b0;
  --error: #efc6c2;
}

@supports (color: lab(0% 0 0)) {
  .lemonade {
    --primary: lab(54.3367% -44.1267 71.4774);
    --secondary: lab(75.3931% -15.13 95.3231);
    --accent: lab(83.8756% -2.44945 103.072);
    --neutral: lab(20.366% -4.6878 31.5163);
    --base-100: lab(98.7263% -3.77017 6.34241);
    --info: lab(84.2095% -10.844 -12.3281);
    --success: lab(84.6144% -14.9354 6.6524);
    --warning: lab(84.3071% -2.8984 17.9641);
    --error: lab(83.5496% 14.3623 8.07523);
  }
}

.night {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  --primary: #38bdf8;
  --secondary: #818cf8;
  --accent: #f471b5;
  --neutral: #1e293b;
  --base-100: #0f172a;
  --info: #0ca5e9;
  --info-content: #000;
  --success: #2dd4bf;
  --warning: #f4bf50;
  --error: #fb7085;
}

.coffee {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  --primary: #db924b;
  --secondary: #263e3f;
  --accent: #10576d;
  --neutral: #120c12;
  --base-100: #20161f;
  --base-content: #c59f60;
  --info: #8dcac1;
  --success: #9db787;
  --warning: #ffd25f;
  --error: #fc9581;
}

.winter {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #0069ff;
  --secondary: #463aa2;
  --accent: #c148ac;
  --neutral: #021431;
  --base-100: #fff;
  --base-200: #f2f7ff;
  --base-300: #e3e9f4;
  --base-content: #394e6a;
  --info: #93e7fb;
  --success: #81cfd1;
  --warning: #efd7bb;
  --error: #e58b8b;
}

.dim {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  --primary: #9fe88d;
  --secondary: #ff7d5c;
  --accent: #c792e9;
  --neutral: #1c212b;
  --neutral-content: #b2ccd6;
  --base-100: #2a303c;
  --base-200: #242933;
  --base-300: #20252e;
  --base-content: #b2ccd6;
  --info: #28ebff;
  --success: #62efbd;
  --warning: #efd057;
  --error: #ffae9b;
}

.nord {
  --lightningcss-light: initial;
  --lightningcss-dark: ;
  color-scheme: light;
  --primary: #5e81ac;
  --secondary: #81a1c1;
  --accent: #88c0d0;
  --neutral: #4c566a;
  --neutral-content: #d8dee9;
  --base-100: #eceff4;
  --base-200: #e5e9f0;
  --base-300: #d8dee9;
  --base-content: #2e3440;
  --info: #b48ead;
  --success: #a3be8c;
  --warning: #ebcb8b;
  --error: #bf616a;
}

.sunset {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  --primary: #ff865b;
  --secondary: #fd6f9c;
  --accent: #b387fa;
  --neutral: #1b262c;
  --neutral-content: #94a0a9;
  --base-100: #121c22;
  --base-200: #0e171e;
  --base-300: #091319;
  --base-content: #9fb9d0;
  --info: #89e0eb;
  --success: #addfad;
  --warning: #f1c891;
  --error: #ffbbbd;
}
/*# sourceMappingURL=styles.css.map */
