# 既に git 管理しているファイルをあえて無視したい:
# git update-index --assume-unchanged .air.toml
# Undo:
# git update-index --no-assume-unchanged .air.toml
root = "."
testdata_dir = "test"
tmp_dir = "temp"

[build]
pre_cmd = ["bun run dev"]
cmd = "go run github.com/a-h/templ/cmd/templ@latest fmt ./templ && go run github.com/a-h/templ/cmd/templ@latest generate && go build -o ./test/comi ./cmd/comigo/main.go"
# Array of commands to run after ^C
post_cmd = []
## 运行的时候，需要传给二进制文件的参数。
# args_bin = ["./test","--tailscale","--debug", "--config-locked"]
## 可配置远程书库 
# args_bin = ["https://test:test@localhost/dav/","sftp://test:test@192.168.1.1/path/to/books","--tailscale","--debug"]
args_bin = [".test","--debug"]
#二进制文件
bin = "./test/comi"
entrypoint = ["./test/comi"]
delay = 3000
exclude_dir = ["app", "test", ".parcel-cache", "node_modules", "tmp", "bin", "testdata"]
exclude_regex = ["_test\\.go", "node_modules", "_templ\\.go", "tar.gz", "zip", "tgz", "exe", "app"]
exclude_unchanged = false
follow_symlink = false
full_bin = ""
include_ext = ["go", "templ", "html", "json", "js", "ts", "css", "scss"]
kill_delay = 500 # nanosecond
log = "test/air.log"
poll = false
poll_interval = 500
rerun = true
rerun_delay = 1000 # Delay after each execution
send_interrupt = false
stop_on_error = true

[log]
main_only = false
silent = false
time = false

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true

[screen]
clear_on_rebuild = false
keep_scroll = true

[proxy]
app_port = 1234
enabled = true
proxy_port = 7777
app_start_timeout = 5000
