# https://github.com/github-linguist/linguist/blob/master/docs/overrides.md

#排除文档文件
resource/CHANGELOG.md -linguist-documentation
htmx/README.md -linguist-documentation

# 排除目录
resource/**/* linguist-vendored
internal/ent/**/* linguist-vendored
application/mobile/**/* linguist-vendored
htmx/embed_files/**/* linguist-vendored
#排除手机项目
application/mobile/* linguist-vendored

#排除测试文件
test/* linguist-documentation