# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*comi
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tools, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
*.vscode
.comigo
*config.toml
*comigo.sqlite
*comigo.sqlite*
.cache
cache
.idea
*.zip
*.rar
*.tar
*.cbr
*.epub
*.cbz
*.tar.gz
*.7z
*.log
*.pdf
main
*.DS_Store

#项目相关配置或文件
go_build_main_go
archives
bin
comic
.config
*md5Sums.txt
resource.syso
\[*
*upload

*comigo.yaml
*comigo.ini
*comigo.db

__*
#routers/web_static
tmp
bin/main
web/node_modules
web/dist
web/static
web/node_modules/*

# local env files
web/.env.local
web/.env.*.local

# Log files
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

# Editor directories and files
web/.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*nohup.out
go.env
/.env
/test/*
# 试着这么写，看能不能避免在下载依赖的时候，下载不需要的文件
#/app/*
