# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*comi
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tools, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
*.vscode
.comigo
*config.toml
*comigo.sqlite
*comigo.sqlite*
.cache
cache
.idea
*.zip
*.rar
*.tar
*.cbr
*.epub
*.cbz
*.tar.gz
*.7z
*.log
*.pdf
main
*.DS_Store
*comigo.yaml
*comigo.ini
*comigo.db
*.local
*.lockb
*.tmp
*.js.map
*.css.map

#项目相关配置或文件
go_build_main_go
archives
bin
comic
.config
*md5Sums.txt
resource.syso
\[*
*upload

__*
#routers/web_static
tmp
bin/main
web/node_modules
web/dist
web/static
web/node_modules/*

# local env files
web/.env.local
web/.env.*.local

# Log files
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
web/.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*nohup.out
go.env
/.env
/test/*
_temp
*scan_results.json

# macOS files.
.DS_Store

# IDE files.
.idea/
.vscode/

# Go workflow files.
go.work

# Environment files.
.env

# Generated folders.
bin/
dist-ssr/
dist/
pb_data/
*/dbs/
pagoda/uploads/*

# Node modules.
node_modules/

# Vendor folders.
vendor/

# Temp folders.
.parcel-cache/
tmp/

# useage: https://github.com/zpm-zsh/autoenv
.in

# wails:
build
build/bin
node_modules
frontend/dist