# https://github.com/github-linguist/linguist/blob/master/docs/overrides.md

#排除文档文件
resource/CHANGELOG.md -linguist-documentation

# 排除目录
assets/images/**/* linguist-vendored

#排除手机项目
app/**/* linguist-vendored

#排除测试文件
test/* linguist-documentation

#排除自动生成文件
internal/ent/**/* linguist-vendored
assets/script/main.js  linguist-vendored
assets/script/styles.css  linguist-vendored
assets/script/main.js.map  linguist-vendored
assets/script/styles.css.map  linguist-vendored
assets/wailsjs   linguist-vendored

*.templ linguist-language=Go