package error_page

templ NotFound() {
    <div class="flex flex-col items-center justify-center h-full">
        <div class="text-4xl font-bold text-gray-500">404</div>
        <div class="text-2xl font-bold text-gray-500">Not Found</div>
    </div>
}