[Unit]
Description=Comigo Web Server
Documentation=https://comigo.xyz
After=network.target nss-lookup.target

[Service]
Type=simple
User=root
WorkingDirectory=/home
ExecStart=/usr/bin/comi
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
# sudo nano /etc/systemd/system/comigo.service
# sudo systemctl daemon-reload
# sudo systemctl enable --now comigo

