/* CSS 过渡 */
/* https://developer.mozilla.org/zh-CN/docs/Web/CSS/CSS_transitions/Using_CSS_transitions */
#header, #steps-range_area {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

#header.hidden, #steps-range_area.hidden {
    opacity: 0;
}

/* 漫画div */
.manga_area {
    /* 不可以被选中 */
    user-select: none;
    /* 火狐 */
    -moz-user-select: none;
    /* 谷歌 */
    -webkit-user-select: none;
}

/* 最后的一或两张图片*/
.manga_area img {
    /* 不可以被选中 */
    user-select: none;
    /* 火狐 */
    -moz-user-select: none;
    /* 谷歌 */
    -webkit-user-select: none;
}
