[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Comigo Manga Browser
GenericName[ja]=Comigo漫画リーダー
GenericName[zh_CN]=Comigo漫画浏览器
Comment=Multi-platform Manga Reader
Comment[ja]=わかりやすい漫画リーダー
Comment[zh_CN]=简单的漫画浏览器，支持各种格式
Exec=/path/to/comigo
Icon=/path/to/icon.png
Terminal=true
Categories=Graphics;Viewer;