package components

templ Footer(version string) {
	<footer class="w-full p-0 m-0 footer">
		<aside class="flex flex-row justify-center w-full h-10 py-2 border hover:space-x-8 footer bg-sky-200 item-center">
			<a class="text-sm font-semibold text-blue-700 hover:underline" href="https://github.com/yumenaka/comi/releases" target="_blank">
				Power by { version }
			</a>
		</aside>
	</footer>
}