package settings_page

// x-text={getTranslations("ConfigManager")}
// x-text={getTranslations("ConfigManagerDescription")}
templ ConfigManager(name string,value bool, description string) {
    ConfigManager
}