package settings_page

import (
	"github.com/gin-gonic/gin"
	"github.com/yumenaka/comigo/htmx/state"
	"github.com/yumenaka/comigo/htmx/templates/common"
)

// SettingsPage 设置页面
templ SettingsPage(c *gin.Context, s *state.GlobalState) {
	@MainArea(&state.Global)
	@common.Footer(s.Version)
	@common.QRCode(s.ServerStatus.ServerHost)
	@common.Toast()
}