package settings_page

import "github.com/yumenaka/comigo/htmx/state"

templ tab1(s *state.GlobalState) {
    <div id="tab1" class="tab-content">
        <h1>Tab1</h1>
        <p>Tab1 content</p>
    </div>
}