package settings_page

import "github.com/yumenaka/comigo/htmx/state"

templ tab2(s *state.GlobalState) {
    @BoolConfig("EnableTLS",true,"EnableTLS_Description")
    @BoolConfig("Debug",false,"Debug_Description")
    @BoolConfig("EnableLogin",true,"EnableLogin_Description")
}