package settings_page

import "github.com/yumenaka/comigo/htmx/state"

templ tab3(s *state.GlobalState) {
    <div id="tab3" class="tab-content">
        <h1>Tab3</h1>
        <p>Tab3 content</p>
    </div>
}