package settings_page

import "github.com/yumenaka/comigo/htmx/state"

templ tab3(s *state.GlobalState) {
    @BoolConfig("EnableDatabase",true,"EnableTLS_Description")
    @BoolConfig("DisableLAN",false,"DisableLAN_Description")
    @BoolConfig("LogToFile",true,"LogToFile_Description")
    @BoolConfig("GenerateMetaData",false,"GenerateMetaData_Description")
    @BoolConfig("ClearCacheExit",true,"ClearCacheExit_Description")
}