package plugins

import (
	"github.com/labstack/echo/v4"
	"github.com/yumenaka/comigo/config"
)

templ PluginComigoXYZ(c echo.Context) {
	if config.GetCfg().Plugin {
		<script>
			console.log("Test Plugin: Comigo.xyz");
		</script>
	}
}
