[Unit]
Description=Comigo Web Server
Documentation=https://comigo.xyz
After=network.target nss-lookup.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/comi --config  /etc/comigo/config.toml
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
