/*此文件静态导入，不需要编译*/
/* CSS 过渡 */
/* https://developer.mozilla.org/zh-CN/docs/Web/CSS/CSS_transitions/Using_CSS_transitions */
#header, #StepsRangeArea {
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#header.hidden, #StepsRangeArea.hidden {
    opacity: 0;
}

/* 漫画div */
.slider_container {
    /* 不可以被选中 */
    user-select: none;
    /* 火狐 */
    -moz-user-select: none;
    /* 谷歌 */
    -webkit-user-select: none;
}

/* 最后的一或两张图片*/
.slider_container img {
    /* 不可以被选中 */
    user-select: none;
    /* 火狐 */
    -moz-user-select: none;
    /* 谷歌 */
    -webkit-user-select: none;
}
