<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width={{.Width}}, height={{.Height}}"/>
  <title>Page {{.Index}}</title>
  <link rel="stylesheet" type="text/css" href="../styles.css"/>
</head>
<body>
  <div class="page-container">
    <img class="page-image" src="../images/{{.FileName}}" alt="Page {{.Index}}"/>
  </div>
</body>
</html>
